/* animations */

#fragment1, #fragment2, #fragment3, #fragment4, #fragment5  {
    max-width: 100%;
}

#fragment2, #fragment3, #fragment4, #fragment5
{
  margin-top: calc(0rem - var(--subheader-line-height));
  line-height: var(--subheader-line-height);
}

@keyframes frag1type {

    from {
        width: 0;
    }

    10% {
        width: 25em;
    }

    20% {
        width: 0;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes frag1type {
    from {
        width: 0;
    }

    10% {
        width: 25em;
    }

    20% {
        width: 1;
    }

    100% {
        width: 1;
    }
}
@keyframes frag2type {

    from {
        width: 0;
        opacity: 1;
    }

    10% {
        width: 25em;
        opacity: 1;
    }

    20% {
        width: 0;
        opacity: 1;
    }

    100% {
        width: 0;
        opacity: 1;
    }
}

@-webkit-keyframes frag2type {
    from {
        width: 0;
        opacity: 1;
    }

    10% {
        width: 25em;
        opacity: 1;
    }

    20% {
        width: 0;
        opacity: 1;
    }

    100% {
        width: 0;
        opacity: 1;
    }
}

#fragment1 {
    line-height: var(--subheader-line-height);
    white-space:nowrap;
    overflow:hidden;

    -webkit-animation: frag1type var(--animation-period) steps(50, end) var(--animation-start-time-frag1) infinite ;
    animation: frag1type var(--animation-period) steps(50, end) var(--animation-start-time-frag1) infinite;
}

#fragment2 {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    
    -webkit-animation: frag2type var(--animation-period) steps(50, end) var(--animation-start-time-frag2) infinite;
    animation: frag2type var(--animation-period) steps(50, end) var(--animation-start-time-frag2) infinite;
}

#fragment3 {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;

    -webkit-animation: frag2type var(--animation-period) steps(50, end) var(--animation-start-time-frag3) infinite;
    animation: frag2type var(--animation-period) steps(50, end) var(--animation-start-time-frag3) infinite;
}

#fragment4 {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;

    -webkit-animation: frag2type var(--animation-period) steps(50, end) var(--animation-start-time-frag4) infinite;
    animation: frag2type var(--animation-period) steps(50, end) var(--animation-start-time-frag4) infinite;
}
#fragment5 {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;

    -webkit-animation: frag2type var(--animation-period) steps(50, end) var(--animation-start-time-frag5) infinite;
    animation: frag2type var(--animation-period) steps(50, end) var(--animation-start-time-frag5) infinite;
}

