header {
    background: linear-gradient(to right, var(--intro-background-color), var(--intro-background-color-right-grad));
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: var(--color-for-white-fonts);
    font-size: 1.4rem;
}
    

.header-image {
    height: 100%;
    width: auto;
    position: relative;
    left: 0;
    bottom: -5rem;
  }
.header-image-container {
    max-height: 50%;
    overflow: hidden;
    position: relative;
    left: 5rem;
    width: calc(100% - 5rem);
    padding: 0.1rem;
}

.banner {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    width: 80vw;
    color: black;
    font-size: var(--banner-font-size);
    border-radius: 1px;
}

.banner-cta {
    background-color: var(--banner-cta-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    margin: 4px 2px;
    cursor: pointer;
}